*{
    margin: 0px;
    padding: 0px;
}

.container{
    margin: auto;
    width: fit-content;
    height: fit-content;
}

.container h1, h3{
    text-align: center;
    margin-top: 25px;
}

.result{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    margin: auto;
    margin-top: 25px;
}
.result h3{
    color: white;
    font-size: 24pt;
}

.result button{
    margin: 5px 65px;
    box-shadow: 3px 3px;
}

.form1 input{
    height: 60px;
    width: 60px;
    display: block;
    margin: 25px 250px;
    text-align: center;
    font-size: 24pt;
}

.form1 button{
    margin: 25px 260px;
}